* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}

.container {
    max-width: 962px;
}

/* ---------- header ---------- */

.header {
    position: fixed; 
    width: 100%;
    background-color: #fff;      
    
    box-shadow: 0 5px 5px -3px rgba(0,0,0,0.1);  
    padding: 16px 0 16px;  
    margin-bottom: 32px;
    z-index: 1;

}

.btn {    
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    padding: 14px 20px;
    margin-right: 27px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
}

.btn:hover {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.btn:active,
.btn:focus {
    background-color: rgba(0,0,0,0.2);
    outline: none;
}

form {
    width: 100%;
}

.header__search {
    width: 100%;    
    color: #626262;
    line-height: 24px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: #fff;
    padding-top: 24px;
    margin-top: 104px;
    margin-bottom: 56px;
}

.header__search:focus {
    outline: none;
}

@media (max-width:576px) {
    .logo__basket {
        display: none;
    }
   
}

/* ---------- main ---------- */

.main {
    margin-bottom: 69px;
}

.rest__list {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 16px;
}
.card {    
    transition: transform 0.5s; 
    padding-bottom: 16px;
    
}


.card__rest-img {
    width: 100%;
    padding: 0;
}


.card__rest-link {    
    width: 100%;
    text-decoration: none;
    color: #000; 
    display: block; 
    padding-bottom: 20px;
      
}

.card__rest-link:hover {    
    background-color: rgba(117, 117, 117, 0.07);
}


.card__rest-title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;   
}

.card__rest-content {
    font-size: 14px;
    line-height: 21px;
    color: #626262;
    margin: 0 0 4px;
    
    
}
.card__rest-delivery {
    font-size: 13px;
    margin: 0; 
}

/* ---------- footer---------- */

.footer {
    width: 100%;
    background-color: #262626;
}


.footer__header {
    border-bottom: 1px solid #979797;
}


.footer__header-logo {
    padding: 56px 0 40px;
}


.footer__menu {
    color:#fff;
    padding-top: 32px;
    padding-bottom: 48px;
    border-bottom: 1px solid #979797;
}

.footer__select-item {
    background-color: #3b3b3b;
    color: #fff;
    font-size: 13px;
    padding: 12px 128px 12px 48px;
    background-image: url('../img/world.svg');
    background-repeat: no-repeat;
    background-position: 7% center;
    margin-bottom: 20px;
}

.footer__select-item:focus,
.footer__select-item:active {
    outline: none;
}

.search__link {
    color: #fff;
    text-decoration: none;
}

.search__link-sharp {
    color: #49A144;
    margin-bottom: 17px;
}

.footer__link-facebook{
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 0;
    background-image: url(../img/facebook.svg);
}

.footer__link-twitter {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 0;
    background-image: url(../img/twitter.svg);
}

.footer__link-instagram {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 0;
    background-image: url(../img/instagram.svg);
}

.footer__list {
    display: flex;    
    flex-direction: column;
}

.footer__list-item {    
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    padding-top: 23px;
}

.footer__list-item:hover {
    text-decoration: underline;
}

.footer__link {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #979797;
}

.footer__link-apple {
    display: block;
    width: 121px;
    height: 40px; 
    font-size: 0;   
    background-image: url('../img/App_Store.svg');
}

.footer__link-google {
    display: block;
    width: 135px;
    height: 40px;
    font-size: 0;
    background-image: url('../img/Google_Play.svg');
}

.footer__copyright {    
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer__copyright-item {
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.footer__copyright-item:hover {
    text-decoration: underline;
}

.buttonup {
    width:80px; 
    height:80px;
    position:fixed;
    bottom:24px;
    right:16px;
}

.project__text {
    font-size: 9px;
    color: #fff;
    text-decoration: none;
}

.project__text:hover {
    text-decoration: underline;
}

@media (max-width:992px) {
    .footer__select-item {        
        padding: 12px 76px 12px 48px;
        background-image: url('../img/world_2.svg');
        
    }

    .footer__link-apple {        
        width: 121px;
        height: 36px; 
        background-size: contain;
        background-repeat: no-repeat;          
        
    }


    .footer__link-google {        
        width: 124px;
        height: 36px;
        background-size: contain;
        background-repeat: no-repeat;  
    }
}